<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_radar.xacro"/>
  <xacro:macro name="radar"
               params = "type:='16_beam'
                         name
                         x:=0.7 y:=0 z:=1.8
                         R:=0 P:=0 Y:=0
                         post_Y:=0 post_z_from:=1.2965">
      
    <xacro:if value="${type == '1_beam'}">
      <xacro:wamv_radar name="${name}"
                           x="${x}" y="${y}" z="${z}"
                           R="${R}" P="${P}" Y="${Y}"
                           post_Y="${post_Y}" post_z_from="${post_z_from}"
                           vertical_lasers="1"
                           samples="256"
			   resolution="1"
			   max_range="256"
			   noise_stddev="2"
                           min_vertical_angle="-0.17"
                           max_vertical_angle="0.17"/>
    </xacro:if>
  </xacro:macro>
</robot>
