<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="cora_aruco" params="name:=aruco x:=0.3 y:=0.5 z:=1.3 R:=0 P:=0 Y:=0 ">
    <link name="${tf_prefix}/${namespace}/${name}_link">
      <collision>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.0001 0.5 0.5" />
	</geometry>
      </collision>

      <visual name="front_visual">
	<origin xyz="0.00005 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.0001 0.5 0.5"/>
	</geometry>
	<material name="front_visual_texture">
          <script>                                                                                      
            <uri>model://aruco_marker/marker_5/scripts</uri>                                           
            <uri>model://aruco_marker/marker_5/textures</uri>                                          
            <name>aruco_5</name>                                                                        
          </script>
	</material>
      </visual>
      
      <visual name="rear_visual">
	<origin xyz="0.00005 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.0001 0.55 0.55"/> <!-- Larger background for white boarder -->
	</geometry>
      </visual>

      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<mass value="0.01"/>
	<inertia
	    ixx="3.74e-06" ixy="0.0" ixz="0.0"
	    iyy="1.875e-06" iyz="0.0" izz="1.875e-06"/>
      </inertial>
    </link>

    <joint name="aruco_joint" type="fixed">
      <parent link="${tf_prefix}/${namespace}/base_link"/>
      <child link="${tf_prefix}/${namespace}/${name}_link"/>
      <origin xyz="-1.0 1.0 4.0" rpy="0 0 1.57"/>
    </joint>

    <link name="aruco_marker">
      <collision>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.0001 0.5 0.5" />
	</geometry>
      </collision>

      <visual>
	<origin xyz="0.00005 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.0001 0.5 0.5"/>
	</geometry>
      </visual>
    </link>

    <joint name="aruco_marker_link" type="fixed">
      <parent link="${tf_prefix}/${namespace}/base_link"/>
      <child  link="aruco_marker"/>
      <origin xyz="-1.0 1.01 4.0" rpy="0 0 1.57"/>
    </joint>
    <gazebo reference="aruco_marker">
      <material>aruco_26</material>
    </gazebo>

    <gazebo reference="${tf_prefix}/${namespace}/${name}_link">
      <material>aruco_26</material>
    </gazebo>

    <gazebo reference="front_visual">
      <material>aruco_26</material>
    </gazebo>


  </xacro:macro>
</robot>
