<?xml version="1.0"?>
<!-- Includes all macros in this package so they don't need to be included individualy -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="cora">

  <!-- Include sensor macros -->
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_camera.xacro" />
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_gps.xacro" />
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_imu.xacro" />
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_3d_lidar.xacro" />
  <xacro:include filename="$(find moos_gazebo)/config/cora/lidar.xacro" />
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_p3d.xacro" />
  <!-- Fiducials  -->
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_aruco.xacro" />
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_april.xacro" />

  <!-- Include dynamics macros -->
  <xacro:include filename="$(find moos_gazebo)/config/cora/cora_dynamics_plugin.xacro" />

</robot>
