<?xml version="1.0"?>
<launch>
  <!-- Launch Simulated World in Gazebo-->
  <include file="$(find moos_gazebo)/launch/world.launch" >
    <!-- Gazebo world to load -->                                           
    <arg name="world" value="$(find moos_gazebo)/worlds/mit_SP.world" />
  </include>

  
  <!-- Launch Asset 1 -->
  <arg name="vessel_1_type" default="cora"/>
  <arg name="vessel_1_urdf" default="$(find moos_gazebo)/config/cora/cora.xacro"/>

  <include file="$(find moos_gazebo)/launch/$(arg vessel_1_type).launch" >
    <!-- Set Root Namespace -->
    <arg name="root_namespace" value="asset_1" />
    <arg name="tf_prefix" value="asset_1"/>
    <arg name="sensors" value="true"/>
    <arg name="urdf" value="$(arg vessel_1_urdf)"/>
    
    <!-- Set robot spawn point -->
    <arg name="x" value="40" />                                                
    <arg name="y" value="-50" />                                      
    <arg name="z" value="0.1" />                                       
    <arg name="P" value="0" />                                    
    <arg name="R" value="0" />                        
    <arg name="Y" value="-1.57" />

    <!-- Set key to ASSET_* or TARGET_* -->
    <arg name="gateway_key" value="ASSET_NODE_REPORT_GAZEBO"/>

    <!-- Left/Right Thrust keys from MOOS -->
    <arg name="left_thrust_key" value="ASSET_1_COMMANDED_THRUST_L"/>
    <arg name="right_thrust_key" value="ASSET_1_COMMANDED_THRUST_R"/>

    <!-- Protobuf gateway port 
         Must reflect GPORT in MOOS mission launch.sh-->
    <arg name="gateway_port" value="9501" />
  </include>

  <!-- End Launch Asset 1 -->

</launch>
